numpy==2.0.2
pillow~=11.0.0
torch
torchvision
efficientnet-pytorch
transformers
scikit-learn
tqdm
urllib3
accelerate
tensorboard
wandb
pytz
timm
optuna
pymysql
grad-cam
opencv-python-headless # You may need to execute `apt-get install -y libgl1-mesa-glx`
imbalanced-learn
seaborn
torchsummary